.delivered-meals {
  display: flex;
  gap: 1.6rem;
  margin-top: 6.4rem;
  align-items: center;
}
.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  margin-right: -1.6rem;
}
.delivered-imgs img:last-child {
  margin-right: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
  /* margin-left:1.8rem */
}

.delivered-text span {
  font-weight: 600;
  color: #e67e22;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fae5d3;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 2.4rem;
}

/*********************************************************/
.section-how {
  /* background-color: orangered; */
  padding: 9.6rem 0;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #eee;
  margin-bottom: 1.2rem;
}

/* .section-how div div {
  padding: 100px;
  font-size: 50px;
  background-color: #333;
} */

/***********************************************************/
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-img {
  width: 50%;
}
